<html>
  <head>
    <title>wizard!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script>
        window.current_user_name = '{{ current_user.name }}';
        window.started = {{ "true" if started else "false" }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wizard.js') }}"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
        {%  if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {%  endfor %}
            </ul>
        {%  endif %}
    {%  endwith %}
    <form id="startgame">
        <input type="submit" value="start!">
    </form>
      <h1> hello {{ current_user.name }} </h1>
    <form id="broadcast">
      <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
      <input type="submit" value="Broadcast">
    </form>
    <p>Received:</p>
    <div id="log"></div>
    <div id="game">
        <div id="players"></div>
        <div id="score"></div>
    </div>
  {% block content %}{% endblock %}
  </body>
</html>