<html>
  <head>
    <title>wizard!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script>
        window.current_user_name = '{{ current_user.name }}';
        window.started = {{ "true" if started else "false" }};
        window.numOfRounds = 15;
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wizard.js') }}"></script>
    <link href="{{ url_for('static', filename='css/wizard.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
        {%  if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {%  endfor %}
            </ul>
        {%  endif %}
    {%  endwith %}
    <form id="startgame">
        <input type="submit" value="start!">
    </form>
    <div id="container">
        <div id="opponents"></div>
        <div id='bidarea'>Your bid!<br><div id="bid"></div></div>
        <div class="user"></div>
        <div id="logholder">
            <form id="broadcast">
              <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
              <input type="submit" value="Broadcast">
            </form>
            <div id="log">
                <p>Received:</p>
            </div>
        </div>
        <div id="quickscorecontainer"><div id="quickscore"></div><br><span class="subheading">click for full scoreboard</span></div>
        <div id='trump'>Trump: <div id="showtrump"></div></div>
        <div id='roundnumber'>Round: <div id='showround'>0</div></div>
        <div id="choosetrump">You get to pick trump!!!:<br>
            <div>H</div>
            <div>C</div>
            <div>D</div>
            <div>S</div>
        </div>
        <br>
        <br>
        <div id="scorecard"></div>

    </div>

  {% block content %}{% endblock %}
  </body>
</html>