<html>
  <head>
    <title>wizard!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script>
        window.current_user_name = '{{ current_user.name }}';
        window.started = {{ "true" if started else "false" }};
        window.numOfRounds = 15;
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wizard.js') }}"></script>
    <link href="{{ url_for('static', filename='css/wizard.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
        {%  if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {%  endfor %}
            </ul>
        {%  endif %}
    {%  endwith %}
    <div id="container">
        <form id="startgame">
            <input type="submit" value="start!">
        </form>
          <h1> hello {{ current_user.name }} </h1>
        <div id="players"></div>
        <div id="logholder">
            <form id="broadcast">
              <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
              <input type="submit" value="Broadcast">
            </form>
            <div id="log">
                <p>Received:</p>
            </div>
        </div>
        <br>
        <br>
        <div id="played">This trick: </div>
        <br>
        <br>
        <div id="roundlabel">round: <div id="round">0</div></div><br>
        <div id="scorecard"></div>
    </div>
  {% block content %}{% endblock %}
  </body>
</html>